body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

div#logo img {
  display: block;
  margin: auto;
  margin-top: 150px;
}

div#navbar {
  position: fixed;
  top: 0;
  right: 10px;
  height: 25px;
  padding: 0;
}


div#navbar li {
  display: inline;
  padding: 5px 10px;
  font-size: 80%;
}

div#search {
  margin-top: 15px;
  text-align: center;
}

div#footer {
  background-color: #e8e8e8;
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
  font-size: 80%;
}

div#footer ul {
  display: inline-block;
  padding: 0 10px;
  margin: 0;
}

div#footer li {
  display: inline;
  padding: 0 5px;
}

div#footer .footer-right {
  float: right;
}

button {
  font-weight: bold;
  color: #666;
  margin-top: 20px;
  padding: 10px 5px;
}

button:hover {
  color: #000;
}

.textbox {
  width: 300px;
  padding: 12px 20px;
}

a {
  text-decoration: none;
  color: inherit;
}
