body {
  margin: 0 auto;
  width: 800px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

img {
  display: block;
  margin: auto;
  margin-top: 150px;
}

div#navbar {
  position: fixed;
  top: 0;
  right: 5px;
  height: 25px;
}

div#navbar li {
  display: inline;
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 80%;
}

div#search {
  margin-top: 15px;
  text-align: center;
}

div#footer {
  position: absolute;
  bottom: 25px;
  border: 1px solid black;
  font-size: 80%;
}

div#footer li {
  display: inline;
}

button {
  font-weight: bold;
  margin-top: 20px;
  padding: 10px 5px;
}

.textbox {
  width: 300px;
  padding: 12px 20px;
}
